@model List<TaskManagement.Models.ViewModel.StudentModel>

<div class="card mx-auto mt-5" style="width:80%">
    <div class="card-header">
        <h2>Assign Task</h2>
    </div>
    <div class="card-body">

        <form method="post" action="~/Teacher/AssignTasks">
            <div class="row">
                <div class="col-lg-12 mt-5 mb-4">
                    <select name="StudentID" multiple id="StudentID"
                            class="form-control" size="5">
                        <option value="Select" disabled selected>-- Select Student --</option>

                        @if (Session["AllTask"] != null)
                        {

                            foreach (var item in Model)
                            {
                                <option value="@item.StudentID">@item.Username</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row mt-2 mb-4 d-none">
                <div class="col-lg-12">
                    <select name="TaskID" id="TaskID" class="form-control">
                        <option value=@ViewBag.TaskID>@ViewBag.TaskID</option>
                      
                    </select>
                </div>
            </div>
            <input type="submit" name="submit"  class="btn btn-outline-success" />
        </form>
    </div>
</div>

